{{define "backsettingsnavset"}}
	<li {{if eq . "password"}}class="uk-active"{{end}}><a href="/_/settings/password">Password</a></li>
	<li {{if eq . "advanced"}}class="uk-active"{{end}}><a href="/_/settings/advanced">Advnaced</a></li>
{{end}}
