{{define "backtabset"}}
	<li {{if eq . "categories"}}class="uk-active"{{end}}><a href="/_/categories">Categories</a></li>
	<li {{if eq . "articles"}}class="uk-active"{{end}}><a href="/_/articles">Articles</a></li>
	<li {{if eq . "settings"}}class="uk-active"{{end}}><a href="/_/settings">Settings</a></li>
{{end}}
